USE [master]
GO
/****** Object:  Database [ProjectDB]    Script Date: 11/5/2016 2:09:02 PM ******/
CREATE DATABASE [ProjectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ProjectDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProjectDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ProjectDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectDB]
GO
/****** Object:  Table [dbo].[PatientInfo]    Script Date: 11/5/2016 2:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PatientInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BillNo] [int] NOT NULL,
	[PatientName] [varchar](50) NULL,
	[Contact] [varchar](50) NULL,
	[DoB] [datetime] NULL,
	[TotalDue] [decimal](18, 2) NULL,
 CONSTRAINT [PK_tbl_PersonalInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PatientTest]    Script Date: 11/5/2016 2:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientTest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NULL,
	[TestId] [int] NULL,
	[DueDate] [date] NULL,
 CONSTRAINT [PK_tbl_TestAdd] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestNameInfo]    Script Date: 11/5/2016 2:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TestNameInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TestName] [varchar](50) NULL,
	[Fee] [decimal](18, 2) NULL,
	[TypeId] [int] NULL,
 CONSTRAINT [PK_tbl_Test] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TestType]    Script Date: 11/5/2016 2:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TestType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[PaymentView]    Script Date: 11/5/2016 2:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[PaymentView] AS

SELECT DISTINCT(PatientInfo.Id), PatientInfo.BillNo, PatientInfo.Contact, PatientInfo.PatientName, PatientInfo.TotalDue,

PatientTest.DueDate FROM PatientInfo LEFT JOIN PatientTest ON PatientInfo.Id = PatientTest.PatientId


GO
/****** Object:  View [dbo].[TestWithType]    Script Date: 11/5/2016 2:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TestWithType] AS

SELECT TName.TestName, TName.Fee, TType.TypeName FROM TestNameInfo TName JOIN TestType TType ON TName.TypeId = TType.Id

GO
/****** Object:  View [dbo].[UnpaidBills]    Script Date: 11/5/2016 2:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UnpaidBills] AS

SELECT DISTINCT PatientInfo.BillNo, PatientInfo.Contact, PatientInfo.PatientName, 

PatientInfo.TotalDue, PatientTest.DueDate FROM PatientInfo LEFT JOIN PatientTest

ON PatientInfo.Id = PatientTest.PatientId

WHERE TotalDue > 0

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_PatientInfo]    Script Date: 11/5/2016 2:09:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PatientInfo] ON [dbo].[PatientInfo]
(
	[Contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TestNameInfo]    Script Date: 11/5/2016 2:09:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TestNameInfo] ON [dbo].[TestNameInfo]
(
	[TestName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TestType]    Script Date: 11/5/2016 2:09:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TestType] ON [dbo].[TestType]
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientTest]  WITH CHECK ADD  CONSTRAINT [FK_PatientTest_PatientInfo] FOREIGN KEY([PatientId])
REFERENCES [dbo].[PatientInfo] ([Id])
GO
ALTER TABLE [dbo].[PatientTest] CHECK CONSTRAINT [FK_PatientTest_PatientInfo]
GO
ALTER TABLE [dbo].[PatientTest]  WITH CHECK ADD  CONSTRAINT [FK_PatientTest_TestNameInfo] FOREIGN KEY([TestId])
REFERENCES [dbo].[TestNameInfo] ([Id])
GO
ALTER TABLE [dbo].[PatientTest] CHECK CONSTRAINT [FK_PatientTest_TestNameInfo]
GO
ALTER TABLE [dbo].[TestNameInfo]  WITH CHECK ADD  CONSTRAINT [FK_TestName_TestType] FOREIGN KEY([TypeId])
REFERENCES [dbo].[TestType] ([Id])
GO
ALTER TABLE [dbo].[TestNameInfo] CHECK CONSTRAINT [FK_TestName_TestType]
GO
USE [master]
GO
